body {
	background-color: #0a1425;
	font-family: 'Orbitron', sans-serif, 10px;
	color: 
}

.container {
	margin-top: 100px;
}

.appartement {
	display: none;
}

.titre {
	font-size: 70px;
}

#accueil {
	font-size: 70px;
}

.page-header {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding-top: 20px;
	margin-top: 0px;
}

.thank {
	color: white;
	text-align: center;
}

#form {
	margin-top: 20px;
	margin-bottom: 50px;
	color: green;
	font-family: 'Orbitron', sans-serif, 10px;
}

/* bouton menu */

.btn {
	color: black;
	font-family: 'Orbitron', sans-serif, 10px;
	font-size: 50px;
	padding: 100px;
	border-radius: 20px;
}

#precedent1, #precedent2, #precedent3 {
	display: none;
}

.btn-appart {
	background-color: #FD760D;
}

.btn-equipement {
	background-color: #FD760D;
}

.btn-communes {
	background-color: #FD760D;
}

.serrurerie {
	margin-top: 20px;
}

.chauf-vent {
	margin-top: 20px;
}

.plomb {
	margin-top: 20px;
}

.isola {
	margin-top: 20px;
}

.revet {
	margin-top: 20px;
}

.cable {
	margin-top: 20px;
}

.balcon {
	margin-top: 20px;
}

#retour {
	display: none;
}

.menu1 {
	margin-top: 20px;
}

.menu2 {
	margin-top: 20px;
}

.menu3 {
	margin-top: 20px;
	margin-bottom: 50px;
}

.questionnaire1 {
	display: none;
	margin-top: 20px;
}

.questionnaire2 {
	display: none;
	margin-top: 20px;
}

.questionnaire3 {
	display: none;
	margin-top: 20px;
}

.intro2 {
	color: green;
	font-family: 'Orbitron', sans-serif;
}

.coll1 {
	margin-top: 20px;
}

.coll2 {
	margin-top: 20px;
}

.coll3 {
	margin-top: 20px;	
}

.coll4 {
	margin-top: 20px;	
}

.coll5 {
	margin-top: 20px;
}


#coll1 {
	display: none;
	margin-top: 20px;
}

#coll2 {
	display: none;
	margin-top: 20px;
}

#coll3 {
	display: none;
	margin-top: 20px;	
}

#coll4 {
	display: none;
	margin-top: 20px;	
}

#coll5 {
	display: none;
	margin-top: 20px;
}

.poubelle {
	margin-top: 20px;
}

.immeuble {
	margin-top: 20px;
}

.enfant {
	margin-top: 20px;
}

.hall {
	margin-top: 20px;
}

.escal-pal {
	margin-top: 20px;
}

#poubelle {
	display: none;
}

#immeuble {
	display: none;
}

#enfant {
	display: none;
}

#hall {
	display: none;
}

#escal-pal {
	display: none;
}

/* footer */

.footer {
	color: #1AD600;
	font-family: 'Orbitron', sans-serif, 10px;
}