body {
	background-color: #0a1425;
}

.appartement {
	display: none;
}

.page-header {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding-top: 20px;
	margin-top: 0px;
}

.btn {
	margin-top: 20px;
	padding: 20px;
}

.form-control {
	text-align: center;
	margin-right: 100px;
}

#form {
	margin-top: 20px;
	color: #1AD600;
	font-family: 'Orbitron', sans-serif, 10px;
}

.btn {
	color: green;
	font-family: 'Orbitron', sans-serif, 10px;

}

#retour {
	display: none;
}

#Menus {
	margin-top: 170px;
}

.menu1 {
	margin-top: 20px;
}

.menu2 {
	margin-top: 20px;
}

.menu3 {
	margin-top: 20px;
}

.questionnaire1 {
	display: none;
}

.questionnaire2 {
	display: none;
	margin-top: 20px;
}

.intro2 {
	color: green;
	font-family: 'Orbitron', sans-serif;
}

#coll1 {
	display: none;
	margin-top: 20px;
}

#coll2 {
	display: none;
	margin-top: 20px;
}

#coll3 {
	display: none;
	margin-top: 20px;	
}

#coll4 {
	display: none;
	margin-top: 20px;	
}

#coll5 {
	display: none;
	margin-top: 20px;
}

.questionnaire3 {
	display: none;
}

#poubelle {
	display: none;
}

#immeuble {
	display: none;
}

#enfant {
	display: none;
}

#hall {
	display: none;
}

#escal-pal {
	display: none;
}

/* footer */

.footer {
	margin-top: 200px;
	color: #1AD600;
	font-family: 'Orbitron', sans-serif, 10px;

}