<div class="image-intro">
	<%= image_tag "amicale-ban.jpg" =%>
</div>
<br>
<button type="button" class="btn btn-default btn-intro"><span class="glyphicon glyphicon-home"></span><br><%= link_to "BIENVENUE", inquiries_new_path =%></button>