<div class="container">
	<div class="row">
		<div class="menu1 text-center">
			<button type="button" class="btn btn-default btn-appart"><span class="glyphicon glyphicon-home"></span><p id="appart">Mon appartement</p></button></br>
		</div>

			<div class="appartement">
				<div class="row">
				<div class="col-md-3">
				<button type="button" class="btn btn-default chauf-vent"> Chauffage/Ventilation</button>
			    </div>
			    <div class="col-md-3">
		        <button type="button" class="btn btn-default revet"> Revêtement du sol</button>
		        </div>
		        <div class="col-md-3">
		        <button type="button" class="btn btn-default isola"> Isolation/Fenêtre </button>
		        </div>
		        </div>
		        <div class="row"> 
		        <div class="col-md-3">		
		        <button type="button" class="btn btn-default plomb"> Eau/Plomberie</button>
		        </div>
		        <div class="col-md-3">
				<button type="button" class="btn btn-default serrurerie"> Serrurerie </button>
				</div>
				<div class="col-md-3"> 
				<button type="button" class="btn btn-default cable"> Câble TV </button> 
				</div>
				<button type="button" class="btn btn-default balcon"> Balcon </button>
			</div>
		</div>
		
		<div class="questionnaire1 text-center">
			<%= render 'form', :inquiry => @inquiry %>
		</div>
	</div>

	<div class="row">
		<div class="menu2 text-center">
			<button type="button" class="btn btn-default btn-equipement"><span class="glyphicon glyphicon-stats"></span><br>Equipements collectifs</button>
		</div>
	</div>

	<div class="row">
		<div class="questionnaire2-bis text-center">

			<div id="coll1">
				<%= render 'form_int1', :inquiry => @inquiry %>
			</div>

		</div>

		<!-- <div class="row">
			<div class="menu3 text-center">
				<button type="button" class="btn btn-default btn-communes"><span class="glyphicon glyphicon-screenshot"></span><br> Parties communes</button>
			</div>
		</div>


		<div class="row">
			<div class="questionnaire-bis text-center">
				<div id="immeuble">
					<%= render 'form_ext1', :inquiry => @inquiry %>
				</div>
			</div>
		</div> -->
	</div>
</div>