<div class="container">
	<div class="row">
		<div class="menu1 text-center">
			<button type="button" class="btn btn-default btn-appart"><span class="glyphicon glyphicon-camera"></span><span class="glyphicon glyphicon-video"></span></button></br>
		</div>
		
		<div class="questionnaire1 text-center">
			<%= render 'form', :inquiry => @inquiry %>
		</div>
	</div>

	<div class="row">
		<div class="menu2 text-center">
			<button type="button" class="btn btn-default btn-equipement"> <span class="glyphicon glyphicon-pencil"></span> </button>
		</div>
	</div>

	<div class="row">
		<div class="questionnaire2-bis text-center">

			<div id="coll1">
				<%= render 'form_int1', :inquiry => @inquiry %>
			</div>

		</div>

		<!-- <div class="row">
			<div class="menu3 text-center">
				<button type="button" class="btn btn-default btn-communes"> Parties communes</button>
			</div>
		</div>


		<div class="row">
			<div class="questionnaire-bis text-center">
				<div id="immeuble">
					<%= render 'form_ext1', :inquiry => @inquiry %>
				</div>
			</div>
		</div> -->
	</div>
</div>