<div class="thank">
<h1>Merci !</h1>

<p>Nous traitons votre demande dans les plus brefs délais</p>

<div class="row">
		<div class="text-center">
				<button type="button" class="btn btn-default retour"><span class="glyphicon glyphicon-home"></span><br>Retour</button>
		</div>
	</div>
</div>